ion-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  
  ion-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #23b6e2;

  }
  
  ion-content {
    background-color: #e72525;
  }
  
  .app-explore-container {
    padding: 20px;
    font-size: 1rem;
  }
  
  