ion-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #b9b9b9;
  background-color: black;

}

.my-background {
  position: relative;
  height: 100%; /* Altura do elemento */
  width: 100%; /* Largura do elemento */
  position: relative;
  z-index: 1;
}

.my-background::before {
  content: "";
  background-image: url('../../theme/gallery.png'); /* substitua 'url_da_sua_imagem.jpg' pelo caminho da sua imagem */
  position: absolute; /* Permitir que o conteúdo seja colocado sobre a imagem */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1; /* Set the transparency level you want */
  background-size: cover;  /* Cobrir todo o espaço do elemento */
  background-repeat: no-repeat;  /* Para não repetir a imagem */
  background-attachment: fixed;  /* Make the background image fixed */
}

ion-grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

