<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorite 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="my-background"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let photo of photoService.photos">
        <ion-card *ngIf="photo.favorite">
          <img [src]="photo.webviewPath" />
          <ion-card-content>
            <ion-card-title>
              {{photo.title}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
