ion-tab-button {
    --color: rgb(238, 234, 234); /* Text color */
    --color-selected: rgb(255, 0, 76); /* Text color when selected */
    --background: #0080ff; /* Button background color */
    --background-selected: #283b99; /* Background color when selected */
    --icon-color: #ffffff; /* Icon color */
    --icon-color-selected: #163b08; /* Icon color when selected */
    --icon-size: 300px; /* Icon size */
  }

  